streamlit
PyPDF2
dotenv
os
langchain
langchain_community.vectorstores
openai
langchain.text_splitter
langchain.embeddings.openai
langchain.chains.question_answering
langchain.llms
langchain.callbacks
langchain_text_splitters